

.formsection {
    display: flex;
    justify-content: space-evenly;
}

.TextInput {
    font-size: 2em;
    border: 1px solid #EEEEEE;
    min-width: 300px;
    border-radius: 3px;
    
    
}

.TextInput:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 10px white;
}

.Radio {
    
    font-size: large;
}

.Button {
    
    margin: 5px auto;
    padding: .5rem;
    font-size: 1em;
    width: 100%;
    background: rgba(63, 151, 228, 0.742);
    border-radius: 8px;
    color: white;
    cursor: default;

}